@charset "UTF-8";

body {background-color: rgb(238, 243, 168); font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 20px;
}

h1 {
    color: rgb(201, 46, 7);
    background-color: rgb(219, 189, 17);
}

h2 {
    color: darkred;
}

p {
    text-align: justify;
}
